@tailwind base;
@tailwind components;
@tailwind utilities;

/* Best-practice Tailwind CSS base enhancements */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  @apply bg-gray-100 text-gray-900 antialiased font-sans;
  background-color: #000;
}

#task-list::-webkit-scrollbar {
  display: none;
}

#All-tasks::-webkit-scrollbar{
  display:none;
}